
<!DOCTYPE html>
<html>
    <head>
        <script>
            window.nodeRequire = require;
            delete window.exports;
            delete window.module;
        </script>

        <link
            rel="stylesheet"
            href="../assets/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
        <link
            rel="stylesheet"
            href="../assets/bootstrap-4.6.2/css/bootstrap.min.css">

        <link
            rel="stylesheet"
            href="../assets/AdminLTE-3.2.0/dist/css/adminlte.min.css">

        <style>
            .bg-vstream {
                background: #a2d664 !important;
                border: #a2d664 !important;
            }
        </style>
        <title>VStream Connect - Login</title>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline">
                <div class="card-header text-center bg-vstream">
                    <img
                        src="../assets/img/VStreamConnect-01.png"
                        alt="VStream Logo Small"
                        class="brand-image">
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Enter your license key</p>
                    <form id="loginForm">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" name="email" id="email" value="" placeholder="example@email.com">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                name="licensekey"
                                id="licensekey"
                                placeholder="Enter your license key"
                                value="">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                          </div>
                                                  <div class="row">
                            <div class="col-12 mt-4">
                                <button id="submit" type="submit" class="btn btn-primary btn-block bg-vstream">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>

        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/bootstrap-4.6.2/js/bootstrap.min.js"></script>
        <script src="../assets/bootstrap-4.6.2/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(async function () {
                const myBody = {
                    hid: localStorage.getItem("hid")
                }
                const response = await fetch('http://hq.vstream.asia:8002/backend/validateHid', {
                    method: 'POST',
                    body: JSON.stringify(myBody),
                    headers: {
                    'Content-Type': 'application/json'
                    }
                });
                const res = await response.json();
                if (res.success) {
                    // If valid, display success message
                    window.location.href = 'starter_page.html';
                }
                $('form:first *:input[type!=hidden]:first').focus();
            });

            var loginForm = document.getElementById("loginForm");


            // Attach event listener to the form's submit event
            loginForm.addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent form submission

            // Get the entered username and password
            var emailInput = document.getElementById("email");
            var licenseInput = document.getElementById("licensekey");
            var submitButton = document.getElementById("submit");
            var enteredEmail = emailInput.value;
            var enteredLicense = licenseInput.value;

            const myBody = {
                email: enteredEmail,
                key: enteredLicense,
                hid: localStorage.getItem("hid")
            }
            submitButton.disabled = true;

            function failureAlert() {
                submitButton.disabled = false;
                alert("Unable to connect with the server");
            };

            const response = await Promise.race([
                fetch('http://hq.vstream.asia:8002/backend/enterlk', {
                    method: 'POST',
                    body: JSON.stringify(myBody),
                    headers: {
                    'Content-Type': 'application/json'
                    }
                }),
                new Promise((_, reject) =>
                    setTimeout(() => reject(failureAlert()), 5000)
                )
            ]);
            const res = await response.json();
            if (res) {
                if (res.success) {
                    // If valid, display success message
                    window.location.href = 'starter_page.html';
                } else {
                    alert(res.response.message);
                    // Clear the input fields
                    emailInput.value = "";
                    licenseInput.value = "";
                }
            } else {
                failureAlert();
            }
            submitButton.disabled = false;

            });
        </script>
    </body>
</html>