
<!DOCTYPE html>
<html>
    <head>
        <script>
            window.nodeRequire = require;
            delete window.exports;
            delete window.module;
        </script>

        <link
            rel="stylesheet"
            href="../assets/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
        <link
            rel="stylesheet"
            href="../assets/bootstrap-4.6.2/css/bootstrap.min.css">

        <link
            rel="stylesheet"
            href="../assets/AdminLTE-3.2.0/dist/css/adminlte.min.css">

            
        <link
        rel="stylesheet"
        href="../assets/css/style.css">

        <title>VStream Camera Connect</title>
    </head>
    <body class="hold-transition login-page bg-main">
        <img
            src="../assets/img/CamConnect_LoginPage.png"
            class="brand-image">
        <div class="login-box">
            <br/>
                    <form id="loginForm">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <img src="../assets/img/asset_icon/email.png" class="asset_icon">
                                </div>
                            </div>
                            <input type="email" class="form-control" name="email" id="email" value="" placeholder="Email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <img src="../assets/img/asset_icon/license_key.png" class="asset_icon">
                                </div>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                name="licensekey"
                                id="licensekey"
                                placeholder="License key"
                                value=""
                                >
                          </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                <button id="submit" type="submit" class="btn btn-primary btn-block bg-vstream">Submit</button>
                            </div>
                        </div>
                    </form>


        </div>

        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/bootstrap-4.6.2/js/bootstrap.min.js"></script>
        <script src="../assets/bootstrap-4.6.2/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(async function () {
                const myBody = {
                    hid: localStorage.getItem("hid")
                }
                const response = await fetch('http://db.vstream.asia/backend/validateHid', {
                    method: 'POST',
                    body: JSON.stringify(myBody),
                    headers: {
                    'Content-Type': 'application/json'
                    }
                });
                const res = await response.json();
                if (res.success) {
                    // If valid, display success message
                    localStorage.setItem("package", res.response.pricingPackage.packageName);
                    window.location.href = 'starter_page.html';
                }
                $('form:first *:input[type!=hidden]:first').focus();
            });

            var loginForm = document.getElementById("loginForm");


            // Attach event listener to the form's submit event
            loginForm.addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent form submission

            // Get the entered username and password
            var emailInput = document.getElementById("email");
            var licenseInput = document.getElementById("licensekey");
            var submitButton = document.getElementById("submit");
            var enteredEmail = emailInput.value;
            var enteredLicense = licenseInput.value;

            const myBody = {
                email: enteredEmail,
                key: enteredLicense,
                hid: localStorage.getItem("hid")
            }
            submitButton.disabled = true;

            function failureAlert() {
                submitButton.disabled = false;
                alert("Unable to connect with the server");
            };

            const response = await Promise.race([
                fetch('http://db.vstream.asia/backend/enterlk', {
                    method: 'POST',
                    body: JSON.stringify(myBody),
                    headers: {
                    'Content-Type': 'application/json'
                    }
                }),
                new Promise((_, reject) =>
                    setTimeout(() => reject(failureAlert()), 5000)
                )
            ]);
            const res = await response.json();
            if (res) {
                if (res.success) {
                    // If valid, display success message
                    localStorage.setItem("package", res.response.package.packageName);
                    localStorage.setItem("license_key", myBody.key);
                    localStorage.setItem("email", myBody.email);
                    window.location.href = 'starter_page.html';
                } else {
                    alert(res.response.message);
                    // Clear the input fields
                    emailInput.value = "";
                    licenseInput.value = "";
                }
            } else {
                failureAlert();
            }
            submitButton.disabled = false;

            });
        </script>
    </body>
</html>