.bg-vstream-green {
    background: #a2d664 !important;
    border: #a2d664 !important;
}

.bg-vstream-grey {
    background: #A2D664 !important;
}

.main-sidebar{
    background-color: rgba(255, 255, 255, 10%) !important;
    box-shadow: none !important;
}

.brand-link{
    border-bottom: transparent !important;
}

#loginForm .input-group-text{
    border-top-left-radius: 4px !important;border-bottom-left-radius: 4px !important; 
    border-bottom: #A2D664 1px solid !important;
    border-top: #A2D664 1px solid !important;
    border-left: #A2D664 1px solid !important;
    border-right: transparent;
    background-color: #272727;
    color: #A2D664;
}

#loginForm .form-control{
    background-color: #4F4F4F;
}

#loginForm #submit{
    background-color: #272727;
    border: #A2D664 2px solid !important;
    font-weight: 500;
}
#licensekey, #email{ 
    border: #A2D664 1px solid !important;
    color:white;
}
#email, #licensekey{
    background-color: rgba(158, 154, 154, 0.87) !important;
}

#email::-webkit-input-placeholder ,#licensekey::-webkit-input-placeholder { /* Edge */
color: white;
}

#email:-ms-input-placeholder,#licensekey:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
}

#email::placeholder,#licensekey::placeholder {
color: white;
}

#sidebarToggle{
    color:#A2D664;
}

.sidebar .nav .nav-item .nav-link{
    border:0.1rem solid #A2D664 ;
    font-weight: 500;
    color:white;
    background-color: transparent !important;
    padding: 0.4rem 1rem;
    border-radius: 8px !important;
}

.sidebar .nav .nav-item .active{
    background-color: rgba(255, 255, 255, 20%) !important;
}

.sidebar .nav .nav-item:nth-child(1n+1){
    margin-top: 4px !important;
}

.sidebar .nav .nav-item .nav-icon{
    color:#A2D664;
}

.camera-information, #container_select_camera_first{
    background-color: #565656 !important;
    color: white !important;
    box-shadow: none !important;
    border-radius: 8px !important;
}

.camera-information label{
    font-weight: 500 !important;
}

.camera-information .card-header {
    border-color: transparent;
}

#vert-tabs-tab .btn{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    margin-left: 5px !important;
    margin-bottom: 10px !important;
    padding: 10px 0 !important;
    font-size: auto !important;
}

#vert-tabs-tab .active{
    background-color: #333 !important;
    border:3px solid #A2D664 !important;
    color: white !important;
}

.showModalAddCamera, .btn-edit{
    background-color: #A2D664 !important;
    color:white !important;
    font-weight: 600 !important;
    cursor: pointer;
    bottom:0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.btn-delete{
    background-color: #D10000 !important;
    color:white !important;
    font-weight: 600 !important;
    border:1px solid #ffffff !important;
}

.btn-edit{
    border:1px solid #ffffff !important;
}

.bg-main{
    background-color: #4E4C4D !important;
    border:transparent;
}

.nav-tabs.flex-column {
    border:none !important;
}

.btn-app>.badge {
    font-size:13px !important;
}

.row a:first-child {
margin-left: 0 !important;
}

.brand-link .brand-image-xs {
    max-height: none !important;
}

.logo-bottom-xs{
top:auto !important; 
bottom:8px !important;
}

.logo-bottom-xl{
top:auto !important;    
bottom:8px !important;
}

.sidebar-custom{
    overflow: hidden;
    border-top: none !important;
}

.asset_icon{
    width: 23px;
    height:auto;
    display: inline;
}

#vert-tabs-tabContent .form-control{
    border-radius: 8px !important;
    background-color: #333 !important;
    color:#fff !important;
    font-weight: 600 !important;
}



.addnewcamera .showModalAddCamera a{
background-color: #A2D664 !important;
padding: 0.2rem 0.75rem !important;
color:white !important;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#containerBtnCamera .btn-camera{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
    margin-left: 5px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    height: auto !important;
}

#containerBtnCamera .active{
    background-color: #333 !important;
    border:3px solid #A2D664 !important;
    color: white !important;
}


.navbar-nav .nav-item{
    padding-left: 0 !important;
}

#button_showpreset{
    background-color: #A2D664 !important;
    color:white !important;
    font-weight: 600 !important;
    cursor: pointer;
    bottom:0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border: 1px solid white !important;
    padding:6px 10px;
}

#button_editpreset{
    background-color: #D10000 !important;
    color:white !important;
    font-weight: 600 !important;
    cursor: pointer;
    bottom:0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border: 1px solid white !important;
    padding:6px 10px;
}


#container_showpreset .btn{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
    margin-left: 5px !important;
    margin-bottom: 1px !important;
}

#container_showpreset .btn:active{
    border: 1px #A2D664 solid !important;
}

#container_editpreset .btn-group{
    background-color: #333 !important;
    border:1px solid #fff !important;
    margin-left: 5px !important;
    margin-bottom: 1px !important;
    border-radius: 0.2rem !important;
}

#container_editpreset .btn-group .btn {
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
}
.panel-video .card{
background-color: transparent !important;
box-shadow: none !important;
}

.panel-video .card-title{
    color: white !important;
}

.panel-video label{
    color:white !important;
}

.card-mainpanel{
    background-color:transparent !important;
    box-shadow: none !important;
}

#container_select_camera_first .jumbotron{
background-color: transparent !important;
}


#changeCameraGroup, #changeShootingMode, #changeWhiteBalanceMode{
    background-color: #4E4C4D !important;
    border: 1px white solid !important;
    color: white !important;
}

#changeCameraGroup, #changeShootingMode, #changeWhiteBalanceMode *{
    background-color: #4E4C4D !important;
}

#container_editpreset .input-group{
    margin-left: 5px !important;
}

.card-controller{
    background-color:#272727 !important;
    box-shadow: none !important;
}

.card-controller .card-header{
        border: 0 !important;
}

#btn_one_shot_af, #btn_awb, #near_button, #far_button, #zoomin_button, #zoomout_button, #wbCalibration_button{
    border: 1px white solid !important;
    color: white !important
}

#btn_one_shot_af:active, #btn_awb:active, #near_button:active, #far_button:active, #zoomin_button:active, #zoomout_button:active, #wbCalibration_button:active{
    border:1px solid #A2D664 !important;
    color: white !important
}

.irs--round .irs-bar{
    background-color: white !important;
}

.irs--round .irs-line{
    background-color: #a8acb3 !important;
}

.circle{
    background-color: red !important;
    height:220px;
    width:220px;
    border-radius: 220px;
    position: relative;
}

.card-controller .irs--round {
    height: 50px;
    top: -20px;
}

.panel-video .irs--round {
    height: 50px;
    top: -15px;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}


#gainup_button, #gaindown_button, #irisup_button, #irisdown_button{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
    margin-left: 5px !important;
    margin-bottom: 1px !important;
    border-radius: 4px;
}

#gainup_button:active, #gaindown_button:active, #irisup_button:active, #irisdown_button:active{
    background-color: #474747 !important;
    border:1px solid #A2D664 !important;
}

#prevBtn_editpreset, #nextBtn_editpreset{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
    margin-left: 5px !important;
    margin-bottom: 1px !important;
    border-radius: 4px;
    padding: 5px 10px;
}

#prevBtn_recallpreset, #nextBtn_recallpreset{
    background-color: #333 !important;
    border:1px solid #fff !important;
    color: white !important;
    font-weight: 600 !important;
    font-size:1rem !important;
    margin-left: 5px !important;
    margin-bottom: 1px !important;
    border-radius: 4px;
    padding: 4px 10px;
}

#moveup_button:hover,#movedown_button:hover,#moveleft_button:hover,#moveright_button:hover,#moveleftup_button:hover,
#moverightup_button:hover,#moveleftdown_button:hover,#moverightdown_button:hover,#home_button:hover{
    fill:#665d5d;
    cursor: pointer;
}

.container_verticalslider{
    background-color: #0C0C0C;
    border-radius: 8px;
    padding:5px 0 5px 0;
}

.vertical-slider {
    height: 200px;
    width: 10px !important;
    position: relative;
    transform: rotate(180deg);
    transform-origin: top left;
}
  
.slider {
    position: absolute;
    /* background-color: #c23232 !important;
    border-radius: 8px;
    padding:5px; */
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range][orient=vertical]
{
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    left: -39px;
    bottom: 197px;
    height: 175px;
    padding: 0 5px;
}

#value_kelvin_slider{
    margin-top:-13px !important;
}

/* input[type=range]::-webkit-slider-runnable-track {
    width: 10px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod !important;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
} */
